*{
    margin: 0%;
	padding: 0%;
	/*list-style: none;
	text-decoration: none;*/
	box-sizing: border-box;
	font-family: 'Times New Roman';
    text-align: center;
	/*background-color: green;
    color: white;*/
}

header{
    width: 100vw;
    height: 15vh;
}

.title{
    width: 100%;
    height: 100%;
    position: relative;
}

.title > h1{
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    font-size: 250%;
}

/*-------------------------Cuerpo-------------------------*/
main{
    width: 100vw;
    height: 70vh;
    background-color: skyblue;
}

.set-datos{
    width: inherit;
    /*height: 13em/2;*/
    height: 25vh;/*Corresponde a una parte del alto del main (70vh)*/
    position: relative;
    background-color: green;
}

.get-datos{
    width: inherit;
    height: 45vh;/*Corresponde a una parte del alto del main (70vh)*/
    position: relative;
    background-color: yellow;
}

table, th, td{
    border: 1px solid;
}

footer{
    width: 100vw;
    height: 15vh;
    background-color: burlywood;
}