header{
    padding: 1% 0% 1% 7%;
    /*background-color: cadetblue;*/
}

/*main{
    background-color: cadetblue;
}*/

.dim-img-prin{
    width: 100%;
    height: 370px;
}

.text-centar-content{
    padding: 1% 0% 1% 0%;
    text-align: center;
}

.dim-img-perfil{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.text-copy-center{
    padding: 1% 0% 0% 0%;
    text-align: center;
    /*background-color: cadetblue;*/
}


/*Estilos de Prueba*/
/*.col-c1{
    background-color: aliceblue;
}

.col-c2{
    background-color: beige;
}*/